@model List<NS.BLOGMGMT.Data.Entities.StaticContent>

@{
    ViewData["Title"] = "Clean Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}  
    <header class="masthead" style="background-image: url('/images/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contact Us</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
      
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p><h2 style="color:darkgrey">Want to get in touch? Contact Us as given below : </h2></p>
                        <div class="my-5">
                                <div>
                                    <label><h2 style="color:darkgrey">Clean Blogs</h2></label>
                                </div>
                                @foreach( var item in Model)
                                {
                                  <div>
                                      <label><h5 style="color:darkgrey">@item.Category : </h5></label> @item.Content
                                  </div>
                                  <br />
                                }
                        </div>
                    </div>
                </div>
            </div>
        </main>
